<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <h3><span>MED</span><b style="color:red;">POINT</b></h3>
            <h4>Solutions</h4>
        <img src="static/images/logos/logo.jpg" width="100px" height="50px">
      </div>
      <div class="col-md-3">
          <h3>Address</h3>
          <p><span><b style="color: black;">Location:</b></span>
          <p>75 Guggisberg Ave<br />
          Korle-Bu<br />
          Accra-Ghana<br />
          <br />
          <p><span><b style="color: black;">Numbers:</b></span><br />
          Tele: (+233) 0307002772<br />
          Mobile: (+233) 0241273989 / 0540125056<br />
          <br />
        </p>
      </div>
        <!-- coming up -to-do -->
      <div class="col-md-3">
        <h3></h3>
        <p></p>
        <br />

      </div>
      <div class="col-md-3">
        <h3>Social</h3>
          <p>You also contact us on our social media Platforms.</p>
        <br />
        <div class="social__icons"> <a href="#" class="socialicon socialicon-twitter"></a> <a href="#" class="socialicon socialicon-facebook"></a> <a href="#" class="socialicon socialicon-google"></a> </div>
      </div>
    </div>
    <hr>
    <p class="text-center">&copy; Copyright Achphix Company. All Rights Reserved.</p>
  </div>
</footer>