{% extends "base.html"%}
{% block title %}Service{% endblock %}

{% block content %}
<!-- header section -->
<section class="banner" role="banner" id="home">
  <header id="header" class="fix-hed">
    <div class="header-content clearfix"> <a class="logo" href="/"><img src="static/images/logos/logo.jpg" width="100px" height="50px"></a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
		 <li><a href="/">Back</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
  <!-- banner text -->
</section>

<section id="detailsPage">
  <div class="container">

    <div class="row">
	<div class="section-header">
                <h2 class="wow fadeInDown animated">Our Services</h2>
                <p class="wow fadeInDown animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
            </div>
    </div>
    <div class="row">
      <div class="col-md-6"> <img src="static/images/services/services.jpg" alt="image" class="img-responsive no-margin"> </div>
      <div class="col-md-6">
        <h3>Biomedical Engineering Services</h3>
        <hr>
        <ul>
          <li>
            <h5 style="color: rgba(30, 130, 76, 1);">Installation</h5>
            <p>We install your new equipment, test it, and haul away your old machinery.</p>
          </li>
          <li>
            <h5 style="color: rgba(30, 130, 76, 1);">Repairs</h5>
            <p>We provide customers with the right solutions for their equipment repair and parts.</p>
          </li>
          <li>
            <h5 style="color: rgba(30, 130, 76, 1);">Calibrations</h5>
            <p>We can calibrate your old or new equipment to ensure it is working accurately.</p>
          </li>
          <li>
            <h5 style="color: rgba(30, 130, 76, 1);">Maintainance</h5>
            <p>Our maintainance contracts are the best way to prevent expensive and untimely repairs.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" style="margin-top: 50px;">
      <div class="col-md-7">
        <h3>Sourcing medical devices</h3>
        <hr>
        <p>Global sourcing of medical devices for healthcare providers and distributors, a tailored package according to your exact standards and detailed product specifications.
We provide sourcing of medical devices and supplier auditing for quality manufacturing conforming to ISO13485 compliance with regulatory and environmental regulations.
</p>
        <p>With our expertise in design and manufacturing of medical devices we  work with key suppliers offering a bespoke sourcing facility for healthcare providers and industry providing the following expertise:</p>
        <ol style="color: rgba(30, 130, 76, 1);">
          <li>Supplier audit & due diligence.</li>
          <li>Pricing and costing validation.</li>
          <li>Contract negotiation.</li>
          <li>Regulatory requirements.</li>
          <li>Quality Control.</li>
          <li>Packaging & User Instructions.</li>
          <li>Logistics and supply chain control.</li>
        </ol>
      </div>
      <div class="col-md-5"> <img src="static/images/services/services2.jpg" alt="image" class="img-responsive no-margin"> </div>
    </div>

      <div class="row">
      <h3>Dual Sourcing & Secondary suppliers</h3>
      <hr>
          <p>De-risking your current supply chain or managing peaks in supply and demand we can be your secondary source for key product lines. We only work with fully accredited suppliers accredited to ISO9000 and ISO13485 Quality manufacturing standards.</p>
      <div class="dc_clear"></div>
    </div>

      <div class="row">
      <h3>OEM Manufacturing of Medical devices</h3>
      <hr>
        <p>We also provide contract manufacturing services where existing products can be re-engineered to meet your specific requirements from printing, packaging, user manuals or more complex engineering design changes. </p>
      <div class="dc_clear"></div>
    </div>

      <div class="row">
      <h3>Contract packaging & Bar Coding</h3>
      <hr>
       <p>Our packaging technology includes printing & packaging uniformity, structural packaging, testing and GS1 bar coding for traceability and stock control.</p>
      <div class="dc_clear"></div>
    </div>

      <div class="row">
      <h3>Logistics & Supply Chain</h3>
      <hr>
      <p>We integrate into your existing supply chain with CIF or FOB freight services complying with international trade terms.
A global solution in the sourcing of medical devices helping you manage your supply chain and sourcing requirements.
For a confidential, no obligation discussion so we can understand your needs, what you’re looking for, how we can help and the advantages of using our skills and resources.
</p>
      <div class="dc_clear"></div>
      <br />
    </div>
  </div>
</section>
<!-- section -->
{% endblock %}